{{ $email := promptStringOnce . "email" "Enter email address" -}}
{{ $git_ssh_signingkey := promptStringOnce . "git_ssh_signingkey" "Git SSH Signing Key (can setup later)" "ssh-ed25519 ..." -}}

[data]
    email = {{ $email | quote }}
    git_ssh_signingkey = {{ $git_ssh_signingkey | quote }}
    git_signing_program = "/path/to/op-ssh-sign"
