[user]
	name = Yu-Cheng Chuang
	email = ducksteven@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	satsh = stash
[grep]
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
